@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

.hljs.language-mermaid line {
  fill: white !important;
  stroke: white !important;
}

.hljs.language-mermaid path {
  stroke: white !important;
}

.hljs.language-mermaid text.messageText {
  fill: white !important;
}

.hljs {
  background-color: transparent !important;
}
